<div class="miHeader">
    
    <div class="logo_redes">
        <div class="logo">
            <!--<p>LOGO</p>-->
            <img src="../../../assets/img/APLogo.png" alt="logo" id="logoAP">
        </div>
        <div class="contenidoREDES">  
            <a href="#"><img src="../../../assets/img/github.png"></a> 
            <a href="#"><img src="../../../assets/img/facebook.png"></a>
            <a href="#"><img src="../../../assets/img/instagram.png"></a>
            <a href="#"><img src="../../../assets/img/linkedin.png"></a>
            <a href="#"><img src="../../../assets/img/twitter.png"></a>
        </div>
    </div>
    <div class="login">
        <div class="miBoton">
            <button type="submit">Login</button>
        </div>
    </div>    
</div>

<!--
<div class="logo">
    <img src="../../../assets/img/APLogo.png" alt="logo" id="logoAP">
</div>
<div class="redes_sociales">
    <a href="#"><img src="../../../assets/img/github.png"></a> 
    <a href="#"><img src="../../../assets/img/facebook.png"></a>
    <a href="#"><img src="../../../assets/img/instagram.png"></a>
    <a href="#"><img src="../../../assets/img/linkedin.png"></a>
    <a href="#"><img src="../../../assets/img/twitter.png"></a>
</div>
<div class="login">
    <button>Login</button>
</div>
-->
