.contenedorHeader{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: darkslategray; 
}

div{
    padding: 0.1em;
}

.contenedorInicial{
    display: flex;
    /*background-color: blue;*/
}

.logo{
    display: flex;
}

.contenidoREDES{  
    display: flex;
    align-items: center;
}

.contenidoREDES img{
    width: 20px;
    padding: 0.2em;
}

.contenedorFinal{ 
    display: flex;   
}

.miBoton{
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-right: 10px;
    
}

button {
    transition-duration: 0.4s;
    background-color: cadetblue;
    color: white;
    border-color: cadetblue;
    font-size: 20px;
}
  
button:hover {
    
    color: darkcyan;
  }